name: Build and test website

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
    build-test-publish:
        uses: ./.github/workflows/build-test-website.yml
        with:
          publish_artifact: true
