name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    uses: Truthdb/.github/.github/workflows/node-release.yml@workflows-v1
    with:
      project_name: website
      archive_basename: website
